/* IMPORT URL FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* VARIVEIS */
:root{
	--white: #fff;
	--brand: #14bf98;
	--brand-2: #113448;
	--brand-3: #333333;
	--brand-4: #fbfbfb;
	--brand-5: #cfd8dc;
	--transition:  all 0.4s;
}

/*  */
body{
	color: #666;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--brand-3);
}
a{
	text-decoration: none;
	transition: all 0.4s;
}
section{
	padding-top: 50px;
	padding-bottom: 50px;
}
img{
	width: 100%;
}
span{
	color: var(--brand-3);
}
small{
	color: var(--brand);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

label{
	color: var(--brand);
}
/* LOGO */
.logo img{
	width: 30px;
	background-size: cover;
}
/* NAVBAR */
.navbar{
	background: var(--brand-2);
}
.navbar-nav .nav-item .nav-link{
	color: var(--white);
	text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link.active{
	color: #14bf98;
}

/* NAVBAR TOGGER */
.navbar-toggler{
	background: var(--white);
}
/* HOME */
#home{
	height: 100vh;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../img/header-background.jpg);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	box-shadow: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
}
#home p{
	max-width: 600px;
	margin: 24px auto;
}
/* BTN BRAND */
.btn-brand{
	color: #fff;
	text-transform: uppercase;
	padding: 12px 28px;
	border-radius: 0;
	background: var(--brand);
	transition: var(--transition);
}
.btn-brand:hover{
	color: #fff;
	border: 1px solid #14bf98;
}
/* INTRO */
.text-content{
	position: relative;
	text-align: justify;

}
/*.center{
	position: relative;
	margin: 16px auto;
}*/
.hline{
	position: relative;
	width: 100px;
	height: 2px;
	background: var(--brand-3);
	margin: 10px auto;
}
.hexagon{
	position: relative;
	width: 104px;
	height: 60px;
	top: 50px;
	background: var(--brand);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.hexagon:before {
	position: absolute;
	content: '';
	width: 0;
	bottom: 60px;
	border-bottom: 30px solid var(--brand);
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
}
.hexagon:after{
	position: absolute;
	content: '';
	width: 0;
	top: 60px;
	border-top: 30px solid var(--brand);
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
}
.hexagon .bx{
	position: absolute;
	color: var(--white);
	font-weight: 700;
	font-size: 30px;
}
.box-text{
	position: relative;
	margin-top: 80px;
}
.box-text p{
	max-width: 250px;
}
/* SERVICES  */
#services{
	background: var(--brand-4);
}
#services h2{
	max-width: 350px;
	margin: 16px auto;
} 
.card .card-body .ints li{
	list-style: square;
	color: var(--brand);
}
.card .card-body .btn.btn-brand{
	position: relative;
	top: 40px;
	transition: var(--transition);
}
.card .card-body .btn.btn-brand:hover{
	color: var(--brand);
	background: var(--white);
}
/* CALL_ME */
#callMe{
	background: var(--brand-2);
}
#callMe .text-content p{
	max-width: 480px;
}
#callMe .text-content p,
#callMe .text-content span{
	color: var(--brand-5);
}
.text-content li{
	color: var(--brand);
	list-style: square;
	font-size: 15px;
}
form .form-control{
	height: 45px;
	border-radius: 0;
	border: 1px solid #39728f;
	background: #2a5d77;
	color: var(--white);
}
form .form-control:focus{
	box-shadow: none;
	border-color: var(--brand);
}
form span{
	color: var(--brand-5);
	letter-spacing: 1.5px;
}
form span a{
	color: var(--brand-5);
	text-decoration: underline;
}
/* PROJECTS & TESTIMONIALS */
#projects .list-item {
	position: relative;
	list-style: none;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 15px ;
	justify-content: center;
}
#projects .list-item li {
	text-transform: uppercase;
	font-weight: 700;
	margin: 13px 5px;
}
#projects .list-item li a{
	color: var(--brand-3);
	padding: 10px 40px;
	background: var(--brand-4);
	transition: var(--transition);
}
#projects .list-item .active{
	background: var(--brand);
	color: var(--white);
}
#projects .list-item a:hover{
	background: var(--brand);
	color: var(--white);	
}
.testimonial-item,
.projects-item{
	position: relative;
	overflow: hidden;
}
.testimonial-item img,
.testimonial-item .testimonial-overlay,
.projects-item img,
.projects-item .project-overlay{
	transition: var(--transition);
}
.testimonial-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(17, 36, 90, 0.8);
	display: flex;
	align-items: flex-end;
	padding: 30px;
	opacity: 0;
}
.project-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #14bf98, rgba(3,169,244,0.5));
	display: flex;
	align-items: flex-end;
	padding: 30px;
	opacity: 0;
}
.testimonial-overlay h3,
.project-overlay h3,
.project-overlay p,
.testimonial-overlay p{
	color: var(--white);
}
.testimonial-item:hover .testimonial-overlay,
.projects-item:hover .project-overlay{
	opacity: 1;
}
.testimonial-item:hover img,
.projects-item:hover img{

	transform: scale(1.1);
}
/* ABOUT */
#about .text-content{
	max-width: 500px;;
	text-align: justify;
}
#about .text-content span{
	color: #666;
}
/* TEAM */
#team{
	padding-top: 50px !important;
}
#team img{
	width: 70px;
	height: 70px;
	transition: var(--transition);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background: transparent;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link img{
	transform: scale(1.5);
}
.review .stars{
	color: var(--brand);
}
.review p{
	max-width: 720px;
	margin: 24px auto;
	font-style: italic;
}
.social-icons{
	position: relative;
	text-align: center;
	justify-content: center;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--brand-2);
	font-size: 24px;
	color: var(--brand-2);
	border-radius: 100px;
	margin: 10px 4px;
}
.social-icons a:hover{
	background: var(--brand-2);
	color: var(--white);
}
/* CONTACT */
.contact .form-control{
	height: 45px;
	border-radius: 0;
	border: 1px solid #39728f;
	color: var(--white);
}
.contact  .form-control:focus{
	box-shadow: none;
	border-color: var(--brand);
}
.contact  span{
	color: var(--brand-5);
	letter-spacing: 1.5px;
}
.contact  span a{
	
	text-decoration: underline;
}
